@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-primary: #EFEFEF;
  --background-button: #6A4D1D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-primary: #efefef;
    --background-button: #6A4D1D;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  html {
    --color-primary: #000;
    --color-secondary: #000;
  }
  body {
    color: var(--color-base);
    background-color: var(--background-primary);
  }
  @import "offen/theme.css";
}
