html[data-theme="offen"] {
  --color-base: #272727;
  --color-primary: #000;
  --color-secondary: #8c8c8c;
  --color-tertiary: #afafaf;
  --color-quaternary: #f2d34f;
  --color-quinary: #6a4d1d;
  --color-senary: #b69b28;

  /* swiper */
  .item-file-swiper.swiper {
    width: 100%;
    height: 100%;
    user-select: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--color-base);
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 28px;
  }
}
